<%#
  OVERRIDE Hyrax v3.6.0 to remove the download link so it doesn't show on the show page
%>

<div class="thumbnail-container">
  <%= image_tag thumbnail_url(file_set),
                class: "representative-media",
                alt: "",
                role: "presentation" %>
</div>
