<% # OVERRIDE: Hyrax v3.4.1 - complete rewrite for custom theming %>

<footer id="utk-lib-footer">
<!-- libraries footer section -->
  <section class="utk-footer footer-libraries">
    <div class="container">
      <div class="footer-libraries--inner d-flex">
        <div class="footer-libraries--anchor d-flex">
          <div class="footer-libraries--identity">
            <div class="footer-libraries--identity--brand d-flex">
              <a href="/" class="footer-libraries--identity--brand--unit">University Libraries</a>
            </div>
            <p>
              1015 Volunteer Boulevard
              <br />
              Knoxville, TN 37996
              <br />
              <a href="tel:865-974-4351" title="Call The University of Tennessee - 865-974-4351">865-974-4351</a>
            </p>
          </div>
          <div class="footer-libraries--menu-extras">
            <div>
              <div class="utk-resources-menu--section">
                <ul class="utk-resources-menu--submenu">
                  <li>
                    <a href="https://maps.utk.edu/?id=314#!ce/3040?ct/27641?m/276034?s/">Map & Directions</a>
                  </li>
                  <li>
                    <a href="https://give.utk.edu/campaigns/42950/donations/new?designation_id=anutk_lib">Give to the Libraries</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-libraries--menu d-flex">
          <div class="utk-resources-menu--col">
            <div class="utk-resources-menu--section">
              <h2 class="utk-resources-menu--trigger">About</h2>
              <div class="utk-resources-menu--submenu d-flex">
                <a href="https://lib.utk.edu/about" rel="canonical">About the Libraries</a>
                <a href="https://lib.utk.edu/society/" rel="canonical">John C. Hodges Society</a>
                <a href="https://volumes.lib.utk.edu/features/"><i>Speaking Volumes</i></a>
                <a href="https://lib.utk.edu/department/community-learning-and-engagement">Outreach</a>
              </div>
            </div>
          </div>
          <div class="utk-resources-menu--col">
            <div class="utk-resources-menu--section">
              <h2 class="utk-resources-menu--trigger">Contact</h2>
              <div class="utk-resources-menu--submenu d-flex">
                <a href="https://lib.utk.edu/directory">Directory</a>
                <a href="https://lib.utk.edu/employment">Employment</a>
                <a href="https://lib.utk.edu/about/policies">Policies</a>
                <a href="https://liveutk.sharepoint.com/sites/ut_libraryadministration/SitePages/Quick-Links.aspx">Staff Only</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- university footer section -->
  <section class="utk-footer footer-university">
    <div class="container">
      <div class="footer-university--inner d-flex">
        <div class="footer-university--anchor">
          <div class="footer-university--identity">
            <div class="footer-university--identity--brand d-flex">
              <a href="https://www.utk.edu" class="footer-university--identity--brand--logo">
                <span class="sr-only">The University of Tennessee</span>
              </a>
            </div>
            <p>
              <strong class="footer-university--title">The University of Tennessee, Knoxville</strong>
              Knoxville, TN 37996
              <br />
              <a href="tel:865-974-1000" title="Call UT Libraries - 865-974-1000">865-974-1000</a>
            </p>
          </div>
        </div>
        <div class="footer-university--more">
          <div class="footer-university--menu d-flex">
            <div class="utk-resources-menu--col d-flex">
              <a href="https://calendar.utk.edu/">Events</a>
              <a href="https://maps.utk.edu/">Map</a>
            </div>
            <div class="utk-resources-menu--col d-flex">
              <a href="https://www.utk.edu/alpha/">A-Z</a>
              <a href="https://directory.utk.edu/">Directory</a>
            </div>
            <div class="utk-resources-menu--col d-flex">
              <a href="https://www.utk.edu/admissions/">Apply</a>
              <a href="https://giveto.utk.edu/">Give to UT</a>
            </div>
            <div class="utk-resources-menu--col d-flex">
              <a href="https://www.utk.edu/aboutut/privacy/">Privacy</a>
              <a href="https://oed.utk.edu/ada/campus-accessibility/">Accessibility</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>